/* styles.css */

/* ヘッダーのスタイル */
header {
  background-color: #333; /* 背景色はそのまま */
  color: #fff;
  text-align: center; /* テキストを中央揃え */
  padding: 20px 0;
}

/* 追加されたセクションのスタイル */
.additional-content {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

.additional-content h3 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}

.additional-content p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px; /* 追加 */
}

/* 必要な物の見出しのスタイル */
article h2 {
  max-width: fit-content;
  margin-right: 20px; /* 見出しの右側に余白を追加 */
}
